// Colors
$whiteColor: #fff;
$blackColor: #000;
$textColor: #393939;
$mainColor: #0093e5;
$mainColor2: #0ab2bc;
$mainColor3: #3dbaff;
$grayColor: #eee;
$grayLightColor: #f6f6f6;

// Fonts
$OpenSans: "Open Sans", Arial, Tahoma, sans-serif;
$Jura: "Jura", Arial, Tahoma, sans-serif;
$Arial: Arial, Tahoma, sans-serif;

// Breakpoints
$mobile: 767px;
$tablet: 768px;
$tablet-max: 959px;
$grid: 960px;
